// Global default params, used in configs
params {

  // Workflow flags
  outdir = './results'

  // Boilerplate options
  help = false
  tracedir = "${params.outdir}/pipeline_info"

  // cache option makes it a bit easier to set conda or singularity cacheDir
  cache = null
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

if ( params.medaka || params.nanopolish ){
    includeConfig 'conf/nanopore.config'
}

if ( params.illumina ){
    includeConfig 'conf/illumina.config'
}

profiles {
  conda {
    conda.enabled = true
    includeConfig 'conf/conda.config'
    if ( params.cache ) {
      conda.cacheDir = params.cache
    }
  }
  docker {
    docker.enabled = true
    fixOwnership = true
    runOptions = "-u \$(id -u):\$(id -g)"
  }
  singularity {
    singularity.enabled = true 
    singularity.autoMounts = true

    if ( params.medaka || params.nanopolish ){
      process.container = "file:///${baseDir}/artic-ncov2019-nanopore.sif"
    } else if (params.illumina) {
      process.container = "file:///${baseDir}/artic-ncov2019-illumina.sif"
    }
    if (params.cache){
      singularity.cacheDir = params.cache
    }
  }
  slurm {
    process.executor = 'slurm'
  }
  lsf {
    process.executor = 'lsf'
  }
  gls {
    process.executor = 'google-lifesciences'
    includeConfig 'conf/gls.config'
  }
}

// COG-UK institutional config
includeConfig 'conf/coguk.config'

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${timestamp}.txt"
}
dag {
    enabled = false
    file    = "${params.tracedir}/pipeline_dag_${timestamp}.html"
}

manifest {
  author = 'Matt Bull, PHAC modifications from Darian Hole'
  description = 'Nextflow for running the Artic ncov2019 pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=21.10.6'
  version = '1.0.0'
}
