process {

    // Base process
    executor = "slurm"
    clusterOptions = "--partition=OutbreakResponse -c 16 --mem=64G"

    // Allow up to 4 retries per process
    errorStrategy = 'retry'
    maxRetries = 4

    withLabel: largecpu {
        clusterOptions = "--partition=OutbreakResponse -c 16 --mem=64G"
        cpus = 16
        memory = 64.GB
    } 

    withLabel: smallmem {
        clusterOptions = "--partition=OutbreakResponse -c 2 --mem=4G"
        cpus = 2
        memory = 4.GB
    }

    withLabel: ncovtools {
        clusterOptions = "--partition=OutbreakResponse -c 8 --mem=32G"
        cpus = 8
        memory = 32.GB
    }

    withLabel: fast5compress {
        clusterOptions = "--partition=OutbreakResponse -c 10 --mem=32G"
        cpus = 10
        memory = 32.GB
    }
}
