process {
    
    executor = "slurm"
    clusterOptions = "--partition=OutbreakResponse -c 16 --mem=64G"
    
    withLabel: largecpu {
        cpus = 16
        memory = 64.GB
    } 
    
    withLabel: smallmem {
        cpus = 2
        memory = 4.GB
    }

    withLabel: ncovtools {
        cpus = 8
    }
}
