env {
    OPENBLAS_NUM_THREADS = 32
}

params {
    partition = 'queue_name'
}

process {

    // Base process
    executor    = "slurm"
    queue       = "${params.partition}"
    cpus        = 2
    memory      = 12.GB

    // Allow up to 4 retries per process
    errorStrategy = 'retry'
    maxRetries = 4

    withLabel: largecpu {
        cpus = 16
        memory = 64.GB
    }

    withLabel: mediumcpu {
        cpus = 4
        memory = 32.GB
    }

    withLabel: smallmem {
        cpus = 2
        memory = 4.GB
    }

    withLabel: ncovtools {
        cpus = 8
        memory = 32.GB
    }

    withLabel: fast5compress {
        cpus = 8
        memory = 32.GB
    }
}
