
process {
    withName: 'makeQCCSV|correctQCSummaryCSV' {
        conda = "$baseDir/environments/extras.yml"
    }
    withName: bamToCram {
        conda = "$baseDir/environments/extras.yml"
    }
}

process {
    withName: renameSamples {
        conda = "$baseDir/environments/extras.yml"
    }
}

process {
    withName: 'generateFastaIridaReport|generateFastqIridaReport|generateFast5IridaReport' {
        conda = "$baseDir/environments/extras.yml"
    }
}

process {
    withName: correctFailNs {
        conda = "$baseDir/environments/extras.yml"
    }
}

process {
    withName: runNcovTools {
        conda = "$baseDir/environments/ncovtools.yml"
    }
}

process {
    withName: uploadIrida {
        conda = "$baseDir/environments/irida_uploader.yml"
    }
}

process {
    withName: uploadCorrectN {
        conda = "$baseDir/environments/irida_uploader.yml"
    }
}

process {
    withName: snpDists {
        conda = "$baseDir/environments/snpdist.yml"
    }
}
