
process {
    withName: makeQCCSV {
        conda = "$baseDir/environments/extras.yml"
    }
}

process {
    withName: renameSamples {
        conda = "$baseDir/environments/extras.yml"
    }
}

process {
    withName: generateIridaReport {
        conda = "$baseDir/environments/extras.yml"
    }
}

process {
    withName: uploadIrida {
        conda = "$baseDir/environments/irida_uploader.yml"
    }
}

process {
    withName: runNcovTools {
        conda = "$baseDir/environments/ncovtools.yml"
    }
}
