env {
    OPENBLAS_NUM_THREADS = 2
}

params {
    partition = 'queue_name'
    max_jobs = 100
}

executor {
    name = 'slurm'
    queueSize = params.max_jobs
}

process {
    // Base process
    queue       = "${params.partition}"
    cpus        = 2
    memory      = 8.GB

    // Allow up to 3 retries per process
    errorStrategy = 'retry'
    maxRetries = 2

    // Set resources based on module label
    withLabel: largecpu {
        cpus = 8
        memory = 32.GB
    }
    withLabel: mediumcpu {
        cpus = 4
        memory = 16.GB
    }
    withLabel: smallmem {
        cpus = 2
        memory = 8.GB
    }
    withLabel: ncovtools {
        cpus = 8
        memory = 32.GB
    }
    withLabel: fast5compress {
        cpus = 8
        memory = 32.GB
    }
    // Specific ignore to get past bcftools issue which is handled in another step
    withName: articMinION {
        errorStrategy = { task.attempt < 2 ? 'retry' : 'ignore' } // It did not like using maxRetries here for some reason
    }
}
